
  <mat-card id="objetivo">
    <mat-card-title>Resumo</mat-card-title>

    <mat-card-subtitle>
      Desenvolvimento de sistema baseado no SCRUM, bem como na seguintes tecnologias e frameworks: JEE, JSE, MVC,
      Hibernate, Spring, JSF, GWT, PrimeFaces, Angular Js, HTML5, JQuery, SOAP e Rest Web Services.
    </mat-card-subtitle>
  </mat-card>

  <mat-card id="experiencia">
    <mat-card-title>Experiencia</mat-card-title>
    <mat-card-subtitle>
      Programador FullStack Senior na TrustHub serviços financeiros.
    </mat-card-subtitle>
    <p>teste</p>
  </mat-card>

  <mat-card id="formacao">
    <mat-card-title>Formação Academica</mat-card-title>
  </mat-card>

  <mat-card id="interesses">
    <mat-card-title>Interesses</mat-card-title>
  </mat-card>

  <footer class="rodape">
      <p>&copy; {{nome}}</p>
  </footer>
